h1{
    margin: 170px 0 38px 0;
    font-size: 32px;
    font-family: 'Kharkiw Tone';
    font-weight: 400;
}
ul li{
    margin-left: 25px;
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 28px;
}

