@font-face {
    font-family: 'Kharkiw Tone';
    src: url('../fonts/Kharkiv%20Tone.ttf') format("truetype");
}
*{
    margin: 0;
    padding: 0;
}
input {
    outline: 0 !important;
    user-select: text;
    background-color: transparent;
    border: none;
}
a{
    text-decoration: none;
    color: #141313;
}

.container{
    width: 1280px;
    margin: 0 auto;
}
.flexRow{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.iconBasket, .iconLike{
    cursor: pointer;
}
.Like{
    fill: rgba(20, 19, 19, 0);
    transition: all 300ms;
}
.Like:hover{
    fill: rgb(20, 19, 19, 1);
}   
.Basket{
    fill: rgba(20, 19, 19, 0);
    transition: all 300ms;
}
.Basket:hover{
    fill: rgb(20, 19, 19, 1);
}
.onClickIcon{
    fill: rgb(20, 19, 19, 1);
}
.LinkHover{
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 1px;
    transition: background-size .3s;
}
.LinkHover:hover{
    background-size: 100% 1px;
}


/* Navigation */
.navigation{
    width: 100%;
    border-bottom: solid #141313 1px;
    z-index: 10;
    position: fixed;
    padding: 12px 0 14px 0;
    background-color: rgb(255, 255, 255, 1);
}

.searchTool{
    width: 202px;
    height: 32px;
    border-bottom: 1px solid #141313;
    position: relative;
}

.search {
    fill: none;
    opacity: .5;
    stroke: #141313;
    stroke-miterlimit: 10;
    stroke-width: 2px;
}

.popUp{
    position: absolute;
    width: 335px;
    padding: 20px;
    background-color: white;
    transition: all 300ms;
    border: #141313 solid 1px;
    top: 47px;
    font-family: "Montserrat";
    font-size: 14px;
    opacity: 1;
}

.LOGO{
    width: 145px;
    height: 36px;
}
.otherTool{
    width: 78px;
    margin-left: 124px;
}

.hiddenPopUp{
    opacity: 0;
    display: none;
}

.popUp-Basket{
    margin-left: -298px;
    padding: 20px 0px;
    width: 375px;

}
.popUp-button{
    width: 100%;
    padding: 16px 0;
    text-align: center;
    border: #141313 solid 1px;
    margin-top: 33px;
}

.popUp-header-block .flexRow{
    padding: 0 20px;
}
.popUp-header{
    font-family: 'Kharkiw Tone';
    font-size: 20px;
    
}
.cross{
    height: 24px;
    cursor: pointer;
}
.popUp-line{
    height: 0.5px;
    background-color: #141313;
    margin: 20px auto 0;
    width: 375px;
}

.empty{
    text-align: center;
    margin: 36px 0;
}

.sum{
    padding-top: 20px;
}

.cartsContainer{
    padding: 0 20px;
}

.cart{
    border: #141313 1px solid;
    width: 293px;
    padding: 20px;
    margin-top: 10px;
}
.cart:first-of-type{
    margin-top: 0;
    border-top: 0;
}


.cart-header{
    font-size: 16px;
    font-weight: 500;
}
.cart-wrapper{
    margin-top: 29px;
    justify-content: left;
}
.cart-img{
    height: 168px;
}
.item-info{
    margin-left: 20px;
    flex-direction: column;
    align-items: start;
    height: 168px;
}
.item-articleNumber{
    font-size: 10px;
}

.item-counting{
    width: 85px;
    height: 24px;
}
.minus-line, .plus-line{
    height: 1px;
    background-color: #141313;
    width: 14px;
    margin: 0 auto
}
.plus-line{
    transform: rotate(90deg);
    transform-origin: center;
    margin-top: -0.5px;
}

.item-fullPrice{
    text-align: center;
    margin-top: 30px;
}

.otherPages{
    justify-content: space-around;
    padding-top: 16px;
}
.otherPages a{
    font-size: 18px;
    font-family: "Montserrat";
    transition: all 300ms;
    border-bottom: rgba(20, 19, 19, 0) solid 1px;
}
.otherPages a:hover{
    background-size: 100% 1px;
}



/* footer */
.footer{
    margin: 62px auto 0 auto;
    padding: 45px 0 24px 0;
    background-color: rgba(206, 190, 184, 0.2);
    font-family: "Montserrat";
}
.footerWrapper{
    align-items: start;
}

.logoFooter{
    margin-bottom: 30px;
}

.footerHeader{
    margin-bottom: 45px;
    cursor: default;
    font-weight: 600;
}
.footerParagraph{
    margin-bottom: 15px;
    cursor: pointer;
}

.socialNetworks{
    width: 171px;
}
.socialMediaIcons{
    cursor: pointer;
}
.instagramIcon-P1, .instagramIcon-P2, .instagramIcon-P3{
    transition: all 300ms;
    fill: rgba(20, 19, 19, 0.0);
}
.instagramIcon-SVG:hover .instagramIcon-P3, .instagramIcon-SVG:hover .instagramIcon-P2{
    stroke: rgba(255, 255, 255);
    fill: rgba(255, 255, 255);
}
.instagramIcon-SVG:hover .instagramIcon-P1{
    fill: rgb(20, 19, 19, 1);
}

.youtubeIcon-P1, .youtubeIcon-P2{
    transition: all 300ms;
    fill: rgba(20, 19, 19, 0.0);
}
.youtubeIcon-SVG:hover .youtubeIcon-P2{
    stroke: rgb(255, 255, 255);
    fill: rgb(255, 255, 255, 1);
}
.youtubeIcon-SVG:hover .youtubeIcon-P1{
    fill: rgb(20, 19, 19, 1);
}

.facebookIcon-SVG path{
    transition: all 300ms;
    fill: rgba(20, 19, 19, 0.0);
}
.facebookIcon-SVG:hover path{
    fill: rgb(20, 19, 19, 1);
}

.twitterIcon-SVG path{
    transition: all 300ms;
    fill: rgba(20, 19, 19, 0.0);
}
.twitterIcon-SVG:hover path{
    fill: rgb(20, 19, 19, 1);
}

.colar2022{
    text-align: right;
    font-size: 16px;
}
.bankCards{
    width: 165px;
    height: 50px;
    background: url('../img/mainPage/cards.png') no-repeat center;
    margin-bottom: 195px;
}