@font-face {
    font-family: 'Kharkiw Tone';
    src: url('../fonts/Kharkiv%20Tone.ttf') format("truetype");
}

*{
    margin: 0;
    padding: 0;
}
.container{
    width: 1440px;
    max-width: 1440px;
    margin: 0 auto;
}

input {outline: 0 !important;}

/* navigation */

.navigation{
    width: 88.88889%;
    padding: 13px 5.555555%;
    border-bottom: solid #141313 1px;
    position: absolute;
    z-index: 10;
}

.helpInformation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 36px;
}

.searchElements{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 202px;
    height: 32px;
    border-bottom: 1px solid #141313;
}
.inputSearch{
    border: none;
    user-select: text;
    background-color: transparent;
}
.iconSearch{
    height: 24px;
}

.LOGO, .nameOfShop{
    width: 145px;
    height: 36px;
}

.iconbasketAndLike{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 78px;
    margin-left: 124px;
    height: 32px;
}
.iconBasket, .iconLike{
    height: 24px;
}

.otherPages{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 16px;
}
.otherPages a{
    text-decoration: none;
    color: #141313;
    font-size: 18px;
    font-family: "Montserrat";
}



/* Main page */
    /* Header */
.header{
    height: 100vh;
    width: 100%;
}
.headerBg{
    height: 100%;
    background: url("../img/mainPage/mainPage.png") no-repeat top;
    background-size: cover;
}
    /* Section */

.wrapToHimHerImg{
    display: flex;
    margin: 30px 0px;
    justify-content: space-between;
}
.similarImg{
    width: 705px;
    height: 768px;
    background: no-repeat center;
    background-size: cover;
    position: relative;
}
.forHer{
    background: url("../img/mainPage/forHer.png");
}
.forHim{
    background: url("../img/mainPage/forHim.png");
}
.forThem{
    width: 100%;
    height: 566px;
    background: url("../img/mainPage/forThem.png") no-repeat center;
    background-size: cover;
    position: relative;
}
.forWho-text{
    font-size: 24px;
    color: white;
    font-family: 'Kharkiw Tone';
    position: absolute;
    left: 30px;
    bottom: 30px;
}

    /* Recommended */
.recomendedWrapper{
    font-size: 32px;
    font-family: 'Kharkiw Tone';
    text-align: center;
    margin: 113px auto 50px auto;
}

.cards{
    display: flex;
    justify-content: space-between;
}
.card{
    width: 407px;
}
.cardImg{
    height: 508px;
    margin-bottom: 30px;
    background-size: cover;
}
.cardImg-1{
    background: url("../img/mainPage/1stCardImg.png") no-repeat center;
}
.cardImg-2{
    background: url("../img/mainPage/2ndCardImg.png") no-repeat center;
}
.cardImg-3{
    background: url("../img/mainPage/3rdCardImg.png") no-repeat center;
}

.cardName{
    margin-bottom: 16px;
}
.cardName, .cardPrice{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-family: "Montserrat";
    font-weight: 500;
}

.arrows{
    display: flex;
    justify-content: space-between;
    width: 78px;
    margin-right: 0;
    margin-left: auto;
    margin-top: 45px;
}
